/* Minor Breakpoints */
@media screen and (max-width: 399px) {
    .header-name {
        font-size: 3.5rem;
    }

    .header-sub {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .featured-header {
        font-size: 3.0rem;
    }
}

@media screen and (min-width: 1050px) {
    body {
        width: 1050px;
        margin: auto;
    }
}

/* Major Breakpoints */
@media screen and (min-width: 660px) {
    .footer-article {
        width: 49%;
    }

    /* .featured-header {
        padding-left: 0;
        margin-left: 1rem;
    } */

    .footer-grid {
        align-items: center;
        justify-content: center;
    }

    .footer-title {
        font-size: 2.3rem;
    }

    .footer-sub {
        font-size: 1.0rem;
    }
}

@media screen and (min-width: 800px) {
    .footer-article {
        width: 33%;
    }

    .footer-title {
        font-size: 2.0rem;
    }

    .footer-sub {
        font-size: 0.8rem;
    }
}
